.content {
    justify-content: center;
}

form {
    width: 40vw;
    margin: 0 4rem;
}

@media only screen and (max-width: 600px) {
    form {
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    form {
        width: 40rem;
    }
}

.image-preview {
    max-width: 100%;
}

.create.icon-right::after {
    content: "\f067";
    font-weight: 900;
}

input:invalid {
    border: solid 0.3rem #be0000;
}